.sapMInputBase:not(.sapMFocus)
  .sapMInputBaseContentWrapper:not(.sapMInputBaseReadonlyWrapper):not(
    .sapMInputBaseContentWrapperState
  ):not(.sapMInputBaseDisabledWrapper):hover {
  background: 0 100% / 100% 0.0625rem no-repeat
    linear-gradient(0deg, #0064d9, #0064d9) border-box !important;
  background-color: #fff !important;
  border-color: #0064d9 !important;
  box-shadow: inset 0 0 0 0.0625rem rgba(79, 160, 255, 0.5) !important;
}

.sapMInputBaseContentWrapper {
  background: 0 100% / 100% 0.0625rem no-repeat
    linear-gradient(0deg, #556b81, #556b81) border-box !important;
  background-color: #fff !important;
  border: 0.0625rem none #556b81 !important;
}

.sapMInputBaseContentWrapper:not(.sapMInputBaseReadonlyWrapper):not(
    .sapMInputBaseContentWrapperState
  ) {
  box-shadow: inset 0 0 0 0.0625rem rgba(85, 107, 129, 0.25);
}

.sapMCbBg {
  background-color: #fff !important;
  border: 0.0625rem #556b81 solid !important;
}
.sapMCb:not(.sapMCbErr):not(.sapMCbWarn):not(.sapMCbInfo):not(.sapMCbSucc):hover
  .sapMCbHoverable {
  border: 0.0625rem solid #0064d9 !important;
  color: #0064d9 !important;
  background-color: #e3f0ff !important;
}
.sapMRb .sapMRbB .sapMRbBOut {
  stroke: #556b81 !important;
  fill: #fff !important;
}
.sapMRb:not(.sapMRbErr):not(.sapMRbWarn):not(.sapMRbInfo):not(.sapMRbSucc):not(
    .sapMRbDis
  )
  .sapMRbHoverable:hover
  .sapMRbBOut {
  stroke: #0064d9 !important;
  fill: #e3f0ff !important;
}
.sapMSlt {
  border: none !important;
  box-shadow: inset 0 0 0 0.0625rem rgba(85, 107, 129, 0.25);
  background-size: 100% 0.0625rem !important;
  background-repeat: repeat-x !important;
  background: #fff !important;
  background-size: 100% 0.0625rem !important;
  background-repeat: repeat-x !important;
  background-position: bottom !important;
  background-image: linear-gradient(0deg, #556b81 0, #556b81 100%) !important;
}
.sapMSltHoverable:not(.sapMSltState):not(.sapMSltIconOnly):hover {
  background: #fff !important;
  border-color: #0064d9 !important;
  box-shadow: inset 0 0 0 0.0625rem rgba(79, 160, 255, 0.5) !important;
}
.sapMSltHoverable:not(.sapMSltState):not(.sapMSltIconOnly):hover {
  box-shadow: inset 0 0 0 0.0625rem rgba(79, 160, 255, 0.5) !important;
  border: none !important;
  background-image: linear-gradient(0deg, #556b81 0, #556b81 100%) !important;
  background-size: 100% 0.0625rem !important;
  background-repeat: repeat-x !important;
  background-position: bottom !important;
}
.sapMInputBase:not(.sapMInputBaseDisabled).sapMInputBaseIconPressed
  .sapMInputBaseIcon,
.sapMInputBase:not(.sapMInputBaseDisabled) .sapMInputBaseIcon:active,
.sapMInputBase:not(.sapMInputBaseDisabled) .sapMInputBaseIcon:hover {
  box-shadow: inset 0 0 0 0.0625rem rgba(79, 160, 255, 0.5) !important;
}
.sapUiFormResGrid > div {
  padding: 0.75rem !important;
}
.sapUiFormResGridCont {
  padding-bottom: 0.75rem !important;
}
.sapMInputBaseReadonly:not(.sapMInputBaseDisabled)
  .sapMInputBaseContentWrapper {
  border-color: #556b81 !important;
  background: 0 100% / 0.375rem 0.0625rem repeat-x
    linear-gradient(90deg, #556b81 0, #556b81 0.25rem, transparent 0.25rem)
    border-box !important;
  background-color: #eaecee !important;
}
.sapMSlt.sapMSltReadonly{
  border-color: #556b81 !important;
  background: 0 100% / 0.375rem 0.0625rem repeat-x
    linear-gradient(90deg, #556b81 0, #556b81 0.25rem, transparent 0.25rem)
    border-box !important;
  background-color: #eaecee !important;
  
}
.MacroImg {
  border: 1px solid gray !important;
}
.sapMPage > section {
  padding: 0.75rem;
  /* padding-top: 0; */
}
.sapMDialog > .sapMDialogSection {
  padding: 0.75rem !important;
}
.sapUiFormCLContainer {
  padding: 0.75rem !important;
}
.sapMPanel .sapMTB .sapMTitle,
.sapMPanel .sapMPanelHdr {
  font-size: 1rem;
  font-weight: bold;
}
.sapMPanelContent {
  padding: 0.75rem !important;
}
.sapMListTblHeaderCell {
  border-top: 1px solid #e5e5e5;
}
.sguPH {
  margin-bottom: 0.75rem;
  height: 2.75rem !important;
  padding-left: 1rem !important;
  border-radius: 0.5rem;
  border: 2px solid #861f1c !important;
  /*border-bottom: 2px solid #861f1c !important;*/
  /* box-shadow: 2px 2px 1px 1px #7d0000; */
}

.sguPH .sapMTitle {
  font-size: 1.125rem;
  font-weight: bold;
  margin: 0 !important;
}
.sguPH .sapMIBar.sapMTB {
  margin: 0 !important;
}

.sapMMsgStrip {
  line-height: 1.5rem;
}

.sapMBtn .sapMBtnCritical,
.sapContrast span.sapMBtnInner.sapMBtnCritical {
  background: #7d0000 !important;
  border-color: #7d0000 !important;
}
.sapMBtn:not(.sapMBtnDisabled):hover .sapMBtnCritical {
  background: #b30000 !important;
  border-color: #b30000 !important;
}

.sapMPanel .sapMTB.sapMTBStandard,
.sapMPanel > .sapMPanelHdr {
  border-bottom: solid 0.0625rem #7d0000 !important;
}

.sapMPanel .sapMIBar.sapMTB .sapMBarChild {
  margin-left: 0 !important;
}
.sapUiForm .sapMTB {
  height: 2rem !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  line-height: normal !important;
  border-bottom: solid 0.0625rem #7d0000 !important;
}
.sapUiForm .sapMTB .sapMTitle {
  font-size: 1rem !important;
  font-weight: bold !important;
  margin-left: 0 !important;
  height: auto !important;
}
/* .sapMPIDisplayOnly .sapMPIText,
.sapMPIText {
  top: -5px !important;
} */
.sapMMessageToast {
  max-width: 100rem !important;
  width: auto !important;
  box-shadow: -2px 2px 1px 1px #7d0000 !important;
  border: 1px solid gray;
  background: #f7eeee !important;
}
.sguPanelNotop .sapMPanelContent {
  padding-top: 0 !important;
}
.sguStHead .sapMPage > section {
  padding: 0 !important;
}

.ui5StHead001 {
  overflow: visible;
}

.ui5StHead001 .sapMOHRAttr {
  padding-bottom: 0;
}

.ui5StHead001 .sapMOHR.sapMOHRBgTranslucent {
  border-radius: 7px;
}

.ui5UsageAreaBox .u4aMUsageArea {
  height: auto !important;
}
.ui5UsageAreaBox > .sapMFlexItem {
  width: 100% !important;
}
.ui5StHead001 > .sapMFlexItem {
  width: 100% !important;
}
.ui5UsageAreaBox .u4aMUsageArea .sapMNavItem {
  position: relative;
  overflow: auto;
}
.stHeadForm {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 300px;
}
.ui5StHead001 .sapMTitleStyleH4 {
  font-weight: bold !important;
}
.ui5StHead001 .sapMPanelWrappingDiv.sapMPanelWrappingDivExpanded {
  border-bottom: 0.0625rem solid #7d0000 !important;
}
.ui5StHead001 .sapMPanelWrappingDiv .sapUiIcon {
  color: #7d0000 !important;
}
.stHeadForm
  .sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace0
  > .sapUiRespGridSpanS12 {
  width: 50% !important;
}
.stHeadForm
  .sapUiForm
  .sapUiRespGridMedia-Std-Phone.sapUiFormResGridCont
  > div:first-child.sapUiFormElementLbl.sapUiRespGridSpanS12 {
  width: 100% !important;
}
.stHeadForm
  .sapUiRespGridSpanXL12.sapUiRespGridSpanL12.sapUiRespGridSpanM12.sapUiRespGridSpanS12 {
  width: 100% !important;
}
.ui5UsageAreaBox .u4aMUsageArea .sapMNavItem.sapMPage {
  position: relative;
  overflow: visible;
}

.ui5UsageAreaBox .u4aMUsageArea .sapMPage > section {
  position: relative;
  left: auto;
  right: auto;
}

.ui5UsageAreaBox.sapMFlexBox {
  height: auto !important;
}

.ui5UsageAreaBox .u4aMUsageArea .sapMPage > .sapMPageHeader + section,
.ui5UsageAreaBox .u4aMUsageArea .sapMPage > .sapMPageSubHeader + section,
.ui5UsageAreaBox
  .u4aMUsageArea
  .sapMPage
  > .sapMPageHeader
  + .sapUiHiddenPlaceholder
  + section {
  top: auto;
}

.ui5UsageAreaBox .sapMNav,
.ui5UsageAreaBox .sapMNav .sapMPageEnableScrolling {
  overflow: visible !important;
}

.sapUiSizeCompact .sapMTreeItemBaseExpander{
  width:25px !important;
  margin-right:5px;
}
.sapUiSizeCompact .sapMTreeItemBaseExpander:hover{
      box-shadow: 0 0 .125rem 0 rgba(85, 107, 130, 0.72);
}
